.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  
  .reset-password-card {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    width: 400px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #fff;
  }

  .reset-password-card h2{
    text-align: center;
  }
  
  .reset-password-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .reset-password-form .form-control {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border-style: none;
  }
  
  .reset-password-btn {
    background: linear-gradient(90deg, #ff416c, #ff4b2b);
    border: none;
    color: white;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
  }
  
  .reset-password-btn:hover {
    background: linear-gradient(90deg, #ff4b2b, #ff416c);
  }

  .error-message{
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(245, 188, 103);
    margin-top: 15px;
    font-size: 18px;
  }

  .success-message{
    display: flex;
    justify-content: center;
    width: 100%;
    color: rgb(103, 245, 157);
    margin-top: 15px;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .reset-password-card {
      width: 90%;
    }
  }  